<div class="panel panel-primary">
	<div class="panel-heading">
		<h3><a href="#publication_<%= publication.id %>" data-toggle="collapse" data-parent="#accordion">
		<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>    <%= publication.title %></a></h3>
	</div>
	<div id="publication_<%= publication.id %>" class="panel-collapse collapse in"> 
		<div class="panel-body">
			<h2> <%= publication.title %></h2>
			<p>Author (s):  <%= publication.authors %></p>
			<p>Conference: <%= publication.conference %></p>
			<p>year: <%= publication.year %></p>
			<p>link: <%= publication.link %></p>
			<p><h4>Abstract:</h4><br><%= publication.abstract %></p>
		</div>
	</div>
</div>